@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300;1,400&display=swap");

/* CSS Reset code */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
Previous/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// End of css reset

//styling starts here

//header styling starts
.header-section {
  background-color: rgb(233, 224, 224);
  color: rgb(19, 4, 4);
  align-content: center;
  padding-bottom: 12px;

  .wrapper {
    width: 90%;
    margin: auto;
    .header-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .logo-section {
        width: 30%;
        // background-color: blue;
        // padding-left: 5rem;
        img {
          width: 135px;
        }
      }

      .menu-section {
        // background-color: red;
        padding-top: 70px;
        width: 45%;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        .page-links {
          //   background-color: red;
          li {
            font-size: 30px;

            .btn {
              color: rgb(12, 0, 0);
              background-color: rgb(231, 212, 212);
              text-decoration: none;
              padding: 2px;

              &:hover {
                background-color: rgb(204, 195, 195);
                color: rgb(255, 255, 255);
                text-decoration: none;
              }
            }

            .active-btn {
              background-color: rgb(204, 195, 195);
              color: rgb(255, 255, 255);
            }
          }
        }
      }
    }
    @media screen and (min-width: 100px) {
      .header-wrapper {
        .logo-section {
          padding-left: 4rem;
          img {
            width: 145px;
          }
        }
        .menu-section {
          padding-top: 0px;
          width: 100%;

          .page-links {
            li {
              font-size: 15px;
            }
          }
        }
      }
    }
    @media screen and (min-width: 395px) {
      .header-wrapper {
        .logo-section {
          padding-left: 8rem;
          img {
            width: 145px;
          }
        }
        .menu-section {
          padding-top: 0px;
          width: 100%;

          .page-links {
            li {
              font-size: 23px;
            }
          }
        }
      }
    }
    @media screen and (min-width: 600px) {
      .header-wrapper {
        .logo-section {
          padding-left: 2rem;
          width: 2%;
          img {
            width: 125px;
          }
        }
        .menu-section {
          padding-top: 60px;
          width: 70%;

          .page-links {
            li {
              font-size: 25px;
            }
          }
        }
      }
    }
    @media screen and (min-width: 768px) {
      .header-wrapper {
        .logo-section {
          padding-left: 3rem;
          // width: 2%;
          // img {
          //   width: 125px;
          // }
        }
        .menu-section {
          // padding-top: 60px;
          width: 60%;

          .page-links {
            li {
              font-size: 25px;
            }
          }
        }
      }
    }
    @media screen and (min-width: 900px) {
      .header-wrapper {
        .logo-section {
          padding-left: 5rem;

          img {
            width: 135px;
          }
        }
        .menu-section {
          padding-top: 50px;
          width: 60%;

          .page-links {
            li {
              font-size: 30px;
            }
          }
        }
      }
    }
    @media screen and (min-width: 1100px) {
      .header-wrapper {
        .menu-section {
          width: 45%;

          .page-links {
            li {
              font-size: 30px;
            }
          }
        }
      }
    }
    // @media screen and (max-width: 480px) {
    //   .header-wrapper {
    //     .logo-section {
    //       img {
    //         width: 145px;
    //       }
    //     }
    //     .menu-section {
    //       padding-top: 0px;
    //       width: 100%;

    //       .page-links {
    //         li {
    //           font-size: 28px;
    //         }
    //       }
    //     }
    //   }
    // }
    // @media  screen and (max-width: 600px) {
    //   .header-wrapper {
    //     .logo-section {
    //       padding-left: 12rem;
    //       img {
    //         width: 145px;
    //       }
    //     }
    //     .menu-section {
    //       padding-top: 0px;
    //       width: 100%;
    //     }
    //   }
    // }
    // @media  screen and (max-width: 768px) {
    //   .header-wrapper {
    //     .logo-section {
    //       padding-left: 3rem;
    //       width: 2%; // padding-left: 12rem;
    //       img {
    //         width: 135px;
    //       }
    //     }
    //     .menu-section {
    //       padding-top: 60px;
    //       width: 65%;
    //       .page-links {
    //         li {
    //           font-size: 25px;
    //         }
    //       }
    //     }
    //   }
    // }

    //     @media screen and (max-width: 350px) {
    //       width: 100%;

    //       .header-wrapper {
    //         flex-direction: column;

    //         width: 95%;
    //         margin: auto;

    //         .logo-section {
    //           width: 30%;
    //           display: flex;

    //           padding-right: 10px;
    //           margin-left: 4.8rem;

    //           img {
    //             width: 140% !important;
    //           }
    //         }
    //         .menu-section {
    //           width: 100%;
    //           display: flex;
    //           .page-links {
    //             li {
    //               font-size: 15px;
    //             }
    //           }
    //         }
    //       }
    //       @media screen and (max-width: 540px) {
    //         display: block;

    //         .logo-section {
    //           margin-left: 7.5rem;
    //         }
    //         .menu-section {
    //           margin-left: 10px;
    //           .page-links {
    //             width: 140%;

    //             // width: 350px;
    //           }
    //         }
    //       }
    //     }

    //     @media screen and (min-width: 720px) {
    //       .logo-section {
    //         flex: 1;
    //       }
    //       .menu-section {
    //         flex: 1;
    //       }
    //     }
  }
} //Header Styling Ends Here

//Hero Styling Starts Here

.hero-section {
  background-color: rgba(233, 224, 224, 0.808);
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  .wrapper {
    width: 90%;
    margin: auto;

    .hero-wrapper {
      padding: 10px;
      // background-color: green;
      display: flex;
      flex-wrap: wrap;

      .profile-section {
        // background-color: red;
        width: 50%;
        .profile-wrapper {
          padding-left: 3rem;
          text-align: center;

          // background-color: red;
          // width: 70%;
          // display: flex;
          // flex-wrap: wrap;
          // flex-direction: column;

          .profile-img {
            //   background-color: green;

            // padding: 2rem;
            // padding-left: 5rem;
            img {
              max-width: 200px;
              max-height: 300px;
              border-width: 3px;
              border-radius: 100%;
              border-style: solid;
              box-shadow: 0px 4px 20px rgb(224, 187, 66);
            }
          }

          .profile-text {
            width: 100%;
            // display: flex;
            // flex: wrap;
            // flex-direction: column;
            // align-items: center;

            h3 {
              font-weight: bold;
              font-size: 20px;
              // margin-top: 14px;
              padding-left: 4.5rem;
              font-family: "Roboto Condensed", sans-serif;
              // text-align: center;
              margin-bottom: 10px;
            }
            p {
              // text-align: center;
              margin-right: 2rem;

              font-size: 18px;
            }
            a {
              text-decoration: none;
              // padding: 10px 40px;
              margin-top: 10px;
              text-align: center;
              width: 90px;
              height: 50px;
              font-weight: bold;

              display: inline-block;
              color: rgb(8, 1, 1);
              background-color: rgb(231, 212, 212);
              // background-color: red;
              padding: 10px;

              .subscribe-text {
                margin-top: 10px;
              }

              &:hover {
                background-color: rgb(204, 195, 195);
                color: rgb(255, 255, 255);
              }
            }
          }
        }
      }

      .description-section {
        // background-color: rgb(157, 157, 163);
        // justify-content: baseline;

        width: 50%;
        .description-wrapper {
          padding-top: 5rem;
          .description-text {
            margin-left: 3rem;
            text-align: center;
            h2 {
              font-size: 30px;
              padding-bottom: 30px;
              font-weight: bold;

              font-family: "Roboto Condensed", sans-serif;
            }
            p {
              // text-align: center;

              font-size: 25px;
            }
            .description-btn {
              display: flex;
              flex-wrap: wrap;
              margin: 20px 30px;

              justify-content: space-evenly;

              .btn {
                color: rgb(12, 0, 0);
                background-color: rgb(231, 212, 212);
                width: 90px;
                //   height: 50px;
                padding: 10px 10px;
                text-align: center;
                transition: all 0.5s ease-in;
                text-decoration: none;
                font-size: 25px;

                // box-sizing: px 0px;
                &:hover {
                  background-color: rgb(204, 195, 195);
                  color: rgb(255, 255, 255);
                }
              }
            }
          }
          .social-wrapper {
            margin: 40px 20px 10px 200px;

            .social-link {
              font-size: 40px;
            }

            // @media screen and (max-width: 378px) {
            //   margin-left: 1.4rem;
            //   .social-link {
            //     font-size: 23px;
            //   }
            // }
          }
          // @media screen and (min-width: 475px) {
          //   .description-text {
          //     margin-top: 10px;
          //     margin-left: 2rem;
          //   }
          //   .social-wrapper {
          //     margin-left: 7rem;
          //   }
          // }
        }
      }
      // @media screen and (max-width: 350px) {
      //   .profile-section {
      //     .profile-wrapper {
      //       .profile-img {
      //         padding-left: 0rem;
      //         img {
      //           max-width: 110px;
      //           max-height: 110px;
      //         }
      //       }
      // }
      //   .profile-text {
      //     h3 {
      //       font-size: 10px;
      //       padding-left: 1.2rem !important;
      //     }
      //     a {
      //       margin-left: 1rem !important;
      //     }
      //   }
      // }
      // .description-section {
      //   .description-wrapper {
      //     .description-text {
      //       margin-left: 0rem;
      //     }
      //   }
    }
    @media screen and (min-width: 100px) {
      .hero-wrapper {
        .profile-section {
          width: 100%;
          .profile-wrapper {
            padding-left: 0rem;

            .profile-text {
              // background-color: green;
              h3 {
                margin-top: 28px;
                padding-left: 0rem !important;
              }
              p {
                margin-right: 0rem;
              }
              a {
                padding: 5px;
              }
            }
          }
        }
        .description-section {
          width: 100%;
          .description-wrapper {
            .description-text {
              margin-left: 0rem;
              text-align: left;
              h2 {
                font-size: 17px;
              }
              p {
                font-size: 18px;
                text-align: center;
              }
              .description-btn {
                margin-left: 0px;
                margin-right: 0px;
                .btn {
                  width: 80px;
                  font-size: 18px;
                  padding-left: 0px;
                }
              }
            }
            .social-wrapper {
              margin-left: 10px;
              padding-right: 0px;
              .social-link {
                font-size: 21px;
              }
            }
          }
        }
      }
    }

    @media screen and (min-width: 320px) {
      .hero-wrapper {
        .description-section {
          .description-wrapper {
            .description-text {
              h2 {
                font-size: 17px;
                margin-left: 3rem;
              }
            }
            .social-wrapper {
              margin-left: 50px;
            }
          }
        }
      }
    }
    @media screen and (min-width: 400px) {
      .hero-wrapper {
        .description-section {
          .description-wrapper {
            .description-text {
              h2 {
                font-size: 20px;
                margin-left: 5rem;
              }
            }
            .social-wrapper {
              margin-left: 100px;
              .social-link {
                font-size: 25px;
              }
            }
          }
        }
      }
    }

    @media screen and (min-width: 400px) {
      .hero-wrapper {
        .description-section {
          .description-wrapper {
            .description-text {
              h2 {
                font-size: 20px;
                margin-left: 5rem;
              }
            }
            .social-wrapper {
              margin-left: 100px;
              .social-link {
                font-size: 25px;
              }
            }
          }
        }
      }
    }

    @media screen and (min-width: 600px) {
      .hero-wrapper {
        .profile-section {
          width: 40%;
          .profile-wrapper {
            padding-left: 3rem;
          }
        }
        .description-section {
          width: 50%;
          padding-left: 40px;
          .description-wrapper {
            padding-top: 7rem;
            .description-text {
              margin-left: 0rem;
              text-align: center;
              h2 {
                font-size: 25px;
              }
            }
            .social-wrapper {
              margin-left: 45px;
              padding-right: 0px;
              .social-link {
                font-size: 24px;
              }
            }
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      .hero-wrapper {
        .profile-section {
          width: 45%;
          .profile-wrapper {
            padding-left: 3rem;

            .profile-text {
              // background-color: green;
              h3 {
                margin-top: 28px;
                padding-left: 0rem !important;
              }
              p {
                margin-right: 0rem;
              }
              a {
                padding: 5px;
              }
            }
          }
        }
        .description-section {
          width: 50%;
          padding-left: 20px;
          .description-wrapper {
            padding-top: 8rem;
            .description-text {
              margin-left: 0rem;
              text-align: center;
              h2 {
                font-size: 30px;
                margin-left: 0rem;
              }
              p {
                font-size: 18px;
                text-align: center;
              }
              .description-btn {
                margin-left: 0px;
                margin-right: 0px;
                .btn {
                  width: 80px;
                  font-size: 18px;
                  padding-left: 0px;
                }
              }
            }
            .social-wrapper {
              margin-left: 70px;
              // padding-rght: 0px;
              .social-link {
                font-size: 30px;
              }
            }
          }
        }
      }
    }

    @media screen and (min-width: 1024px) {
      .hero-wrapper {
        .profile-section {
          width: 50%;
          .profile-wrapper {
            // padding-left: 3rem;

            .profile-text {
              // background-color: green;
              h3 {
                margin-top: 28px;
                padding-left: 4.5rem;
              }
              p {
                margin-right: 2rem;
                font-size: 18px;
              }
              a {
                padding: 10px;
              }
            }
          }
        }
        .description-section {
          width: 50%;
          padding-left: 0px;
          .description-wrapper {
            padding-top: 7rem;
            .description-text {
              margin-left: 3rem;
              text-align: center;
              h2 {
                font-size: 30px;
                margin-left: 0rem;
              }
              p {
                font-size: 18px;
                text-align: center;
              }
              .description-btn {
                // margin-left: 0px;
                // margin-right: 0px;
                margin: 20px 30px;
                .btn {
                  width: 80px;
                  font-size: 18px;
                  padding-left: 0px;
                }
              }
            }
            .social-wrapper {
              margin: 40px 20px 10px 166px;
              // margin-left: 70px;
              // padding-rght: 0px;
              .social-link {
                font-size: 34px;
              }
            }
          }
        }
      }
    }

    //   }
    // }

    // @media screen and (max-width: 540px) {
    //   .profile-section {
    //     .profile-wrapper {
    //       margin-left: 5rem;

    //       .profile-img {
    //         img {
    //           max-width: 150px;
    //           max-height: 250px;
    //         }
    //       }
    //     }
    //   }
    // }
  }
}

.social-wrapper {
  ul {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }
}
.social-link {
  li {
    margin-left: 10px;
    margin-bottom: 10px;
    // display: flex;
    // background-color: rgb(204, 195, 195);
  }

  :hover {
    color: rgb(172, 154, 154);
  }

  a {
    text-align: center;
    transform: translate(0, 0px);
    color: rgb(11, 80, 126);

    :hover {
      transform: rotate(0deg) skew(0deg) translate(0, -10px);
    }
  }
}

//Portfolio Section Starts here
.portfolio-section {
  background-color: rgb(233, 224, 227);

  .wrapper {
    width: 90%;
    margin: auto;
    padding-top: 50px;

    background-color: rgba(239, 235, 241, 0.973);

    .portfolio-wrapper {
      //   display: flex;
      //   flex-wrap: wrap;
      //   flex-direction: column;
      text-align: center;
      padding-bottom: 40px;

      h2 {
        font-size: 20px;
        font-family: "Courier New", Courier, monospace;
        font-weight: bolder;
        padding-bottom: 10px;
      }
      p {
        font-family: "Courier New", Courier, monospace;
        padding-bottom: 40px;
      }
    }

    .projects-wrapper {
      //   background-color: #008000;
      padding: 14px 10px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .project {
        color: rgb(0, 0, 0);
        background-color: rgba(239, 235, 241, 0.973);
        width: 33%;
        justify-content: space-between;

        .image-wrapper {
          // width: 100px;
          // width: 33%;
          img {
            max-width: 90%;
          }
        }

        .project-text-wrapper {
          padding: 15px;
          h3 {
            font-size: 16px;
            font-weight: 900;
            margin-bottom: 15px;
          }
          p {
            font-size: 14px;
          }
        }
        // margin-right: 20px;
      }
    }
    @media screen and (min-width: 100px) {
      // .portfolio-wrapper {
      //   text-align: center;
      //   padding-bottom: 40px;

      //   h2 {
      //     font-size: 20px;
      //     font-family: "Courier New", Courier, monospace;
      //     font-weight: bolder;
      //     padding-bottom: 10px;
      //   }
      //   p {
      //     font-family: "Courier New", Courier, monospace;
      //     padding-bottom: 40px;
      //   }
      // }

      .projects-wrapper {
        flex-direction: column;

        .project {
          width: 100%;
        }
      }
    }
    @media screen and (min-width: 768px) {
      .projects-wrapper {
        flex-direction: row;

        .project {
          width: 33%;

          // margin-right: 20px;
        }
      }
    }
  }
}

// Footer Styling Starts Here

.footer-section {
  background-color: rgb(65, 64, 64);
  color: rgb(214, 211, 211);
  .wrapper {
    width: 90%;
    margin: auto;

    .footer-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding-top: 20px;
      .footer-menu {
        // background-color: red;
        width: 35%;
        padding-left: 28rem;

        // margin: auto;
        .page-links {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          li {
            .btn {
              color: rgb(0, 0, 0);
              text-decoration: none;
              font-size: 1.3rem;

              &:hover {
                color: rgb(255, 255, 255);
              }
            }

            .active-btn {
              color: rgb(255, 255, 255);
            }
          }
        }
      }

      .social-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 32rem;
        // background-color: blue;
        width: 25%;
      }

      .social-link {
        // background-color: red;

        // margin: auto;
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        font-size: 28px;

        :hover {
          color: rgb(38, 139, 206);
        }

        a {
          // color: rgb(177, 147, 228);
          color: rgb(243, 232, 232);
        }
      }

      .copyright-section {
        margin-bottom: 20px;
        text-align: center;

        h4 {
          margin-bottom: 10px;
        }
        p {
          margin: 0 0 10px;
        }
        a {
          color: rgb(243, 232, 232);

          text-decoration: none;

          &:hover {
            color: rgb(38, 139, 206);
          }
        }
      }
    }
    // @media screen and (m-width: 320px) {
    //   .footer-wrapper {
    //     .footer-menu {
    //       width: 100%;
    //       padding-left: 0px;
    //       .page-links {
    //         li {
    //           .btn {
    //             font-size: 1rem;
    //           }
    //         }
    //       }
    //     }
    //     .social-wrapper {
    //       margin-top: 20px;
    //       margin-left: 1.8rem;
    //       width: 80%;
    //       .social-link {
    //         font-size: 20px;
    //       }
    //     }
    //   }
    // }
    @media screen and (min-width: 100px) {
      .footer-wrapper {
        .footer-menu {
          width: 100%;
          padding-left: 0px;
          .page-links {
            li {
              .btn {
                font-size: 1rem;
              }
            }
          }
        }
        .social-wrapper {
          margin-top: 20px;
          margin-left: 1.8rem;
          width: 80%;
          .social-link {
            font-size: 20px;
          }
        }
      }
    }
    @media screen and (min-width: 600px) {
      .footer-wrapper {
        .footer-menu {
          width: 60%;
          padding-left: 9rem;
          .page-links {
            li {
              .btn {
                font-size: 1.3rem;
              }
            }
          }
        }
        .social-wrapper {
          margin-top: 20px;
          margin-left: 11rem;
          width: 40%;
          .social-link {
            font-size: 20px;
          }
        }
      }
    }
    @media screen and (min-width: 768px) {
      .footer-wrapper {
        .footer-menu {
          width: 50%;
          padding-left: 14rem;
          .page-links {
            li {
              .btn {
                font-size: 1.3rem;
              }
            }
          }
        }
        .social-wrapper {
          margin-top: 20px;
          margin-left: 15rem;
          width: 40%;
          .social-link {
            font-size: 20px;
          }
        }
      }
    }
    @media screen and (min-width: 1024px) {
      .footer-wrapper {
        .footer-menu {
          width: 38%;
          padding-left: 21rem;
          .page-links {
            li {
              .btn {
                font-size: 1.3rem;
              }
            }
          }
        }
        .social-wrapper {
          margin-top: 20px;
          margin-left: 23rem;
          width: 30%;
          .social-link {
            font-size: 28px;
          }
        }
      }
    }

    @media screen and (min-width: 1430px) {
      .footer-wrapper {
        .footer-menu {
          width: 35%;
          padding-left: 28rem;
          .page-links {
            li {
              .btn {
                font-size: 1.3rem;
              }
            }
          }
        }
        .social-wrapper {
          margin-top: 20px;
          margin-left: 32rem;
          width: 25%;
          .social-link {
            font-size: 28px;
          }
        }
      }
    }
  }

  // @media screen and (max-width: 350px) {
  //   .wrapper {
  //     width: 100%;
  //     .footer-wrapper {
  //       .footer-menu {
  //         width: 100%;
  //       }
  //     }
  //     .social-wrapper {
  //     }
  //     .social-link {
  //       width: 80% !important;
  //     }
  //   }
  // }
  // @media screen and (max-width: 405px) {
  //   .wrapper {
  //     .social-wrapper {
  //       .social-link {
  //         width: 60%;
  //         font-size: 20px;
  //       }
  //     }
  //   }
  // }
}

//About-Page styling starts here

//about hero section styling starts here

.about-section {
  // background-image: url("../images/about.jpg");
  // background-position: center;
  background-color: rgba(233, 224, 224, 0.808);
  // background-color: red;

  .about-wrapper {
    display: flex;
    flex-wrap: wrap;

    .description-section {
      width: 40%;
      padding-left: 80px;
      // background-color: green;
      text-align: left;
      font-family: "Fira Sans", sans-serif;

      h1 {
        padding-top: 5rem;
        font-size: 50px;
        text-decoration: overline;
        font-weight: 400;
        padding-bottom: 20px;
      }

      span {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        padding-bottom: 20px;
        color: #ad9f9f;

        font-size: 22px;
      }

      p {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        padding-top: 20px;
        font-size: 20px;
      }
      .social-wrapper {
        margin: 40px 20px 0px 100px;
        // background-color: red;

        .social-link {
          font-size: 40px;
        }
        h1 {
          font-family: "Fira Sans", sans-serif;
          font-size: 20px;
          text-decoration: underline;
          padding-top: 0px;
          padding-bottom: 10px;
          padding-left: 100px;
          text-align: left;
        }
      }
    }

    .image-section {
      width: 53%;
      // height: 100%;

      padding-top: 10px;
      // background-color: red;

      img {
        width: 100%;
      }
    }
  }
}

.about-description {
  background-color: rgb(233, 224, 227);
  // background-color: red;
  .wrapper {
    width: 90%;
    margin: auto;
    // background-color: green;
    background-color: rgba(239, 235, 241, 0.973);
    padding-top: 50px;
    h1 {
      font-size: 30px;
      // text-decoration: underline;
      font-weight: 400;
      // color: #533939;
      padding-bottom: 10px;
    }

    .skills-section {
      // text-align: center;
      padding-bottom: 40px;
      padding-left: 40px;
      font-family: "Fira Sans", sans-serif;

      ul {
        // background-color: red;
        font-family: "Poppins", sans-serif;
        li {
          margin: 15px;
          list-style-type: square;
          // background-color: green;
          font-weight: 300;
          font-size: 20px;

          em {
            font-family: "Fira Sans", sans-serif;
            font-weight: bold;
            font-style: italic;
            font-size: 21px;
          }
          span {
            padding: 15px;
          }
        }
      }
    }
    .resume-section {
      padding-bottom: 40px;
      padding-left: 40px;
      font-family: "Fira Sans", sans-serif;

      p {
        font-family: "Poppins", sans-serif;
        margin: 15px;
        font-weight: 300;
        font-size: 20px;
        padding-bottom: 5px;
      }

      a {
        font-family: "Poppins", sans-serif;
        font-style: italic;
        font-weight: 400;
        margin-left: 130px;
        text-decoration: none;
        font-size: 20px;
        padding: 5px;

        color: rgb(12, 0, 0);
        background-color: rgb(231, 212, 212);
        text-align: center;
        transform: translate(0, 0px);
        color: rgb(11, 80, 126);

        &:hover {
          background-color: rgb(204, 195, 195);
          color: rgb(255, 255, 255);

          // transform: rotate(0deg) skew(0deg) translate(0, -10px);
        }
      }
    }
    .website-section {
      padding: 40px;

      p {
        font-family: "Poppins", sans-serif;
        margin: 15px;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.5;
        // padding-bottom: 5px;
      }
    }
  }
}

//Contact page styles starts here

.contact-section {
  background-color: rgb(233, 224, 227);
  .wrapper {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(239, 235, 241, 0.973);

    .description-section {
      // background-color: greens;
      justify-items: center;
      font-family: "Fira Sans", sans-serif;
      h1 {
        padding-top: 5rem;
        font-size: 50px;
        text-decoration: overline;
        font-weight: 400;
        padding-bottom: 20px;
        text-align: center;
      }
      p {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        padding-top: 20px;
        font-size: 20px;
        text-align: center;
      }
      .form-section {
        margin-top: 30px;
        margin-left: 25rem;
        margin-right: 25rem;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;

        // background-color: green;
        input[type="text"],
        select,
        textarea {
          width: 100%;
          padding: 14px;
          border: 1px solid #ccc;
          margin-top: 6px;
          // margin-left: 0px;
          margin-bottom: 16px;
          resize: vertical;
        }
        input,
        textarea {
          font-size: 0.9rem !important;
        }

        button[type="submit"] {
          font-size: 1.2rem;
          text-transform: uppercase;
          border: none;
          background-color: rgb(231, 212, 212);
          padding: 0.8rem 2rem;

          &:hover {
            background-color: rgb(204, 195, 195);
            color: rgb(255, 255, 255);
          }
        }
      }
    }
    .social-wrapper {
      margin: 40px 20px 0px 500px;
      // text-align: center;
      // background-color: red;

      .social-link {
        font-size: 40px;
      }
      h2 {
        font-family: "Fira Sans", sans-serif;
        font-size: 25px;
        // text-decoration: underline;
        // padding-top: 0px;
        padding-bottom: 10px;
        padding-left: 80px;
        text-align: left;
        text-transform: uppercase;
      }
    }
    @media screen and (max-width: 320px) {
      .description-section {
        h1 {
          padding-top: 0rem;
          font-size: 30px;
        }

        .form-section {
          margin-left: 35px;
        }
      }
      .social-wrapper {
        margin-left: 30px;
        .social-link {
          font-size: 27px;
        }
        h2 {
          padding-left: 50px;
        }
      }
    }
    @media screen and (max-width: 480px) {
      .description-section {
        h1 {
          padding-top: 0rem;
          font-size: 30px;
        }

        .form-section {
          margin-left: 35px;
        }
      }
      .social-wrapper {
        margin-left: 30px;
        .social-link {
          font-size: 27px;
        }
        h2 {
          padding-left: 50px;
        }
      }
    }
  }
}
